* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cf2e2e;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

header {
  margin-top: 50px;
  width: 100vw;
}

.banner-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.banner-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo img {
  width: 500px;
  height: 500px;
}

.conteudo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.btn-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-checkout {
  padding: 30px;
  background-color: rgba(6, 147, 227, 1);
  color: #FFF;

  border-radius: 10px;
  text-decoration: none;
}

.btn-checkout a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: 0;
  cursor: pointer;
}

.rodape {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.rodape-msg {
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 550px) {

  .btn-checkout {
    padding: 20px;
  }

}